* {
    padding: 0;
    margin: 0;
    background: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

button,
input,
label {
    cursor: pointer;
}


/* * {
    outline: 2px solid red !important;
} */

.total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left form";
    font-family: 'Courier New', Courier, monospace;
}

.left {
    grid-area: left;
    position: relative;
    min-width: 500px;
    display: block;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}


.left_text {
    position: absolute;
    top: 60%;
    left: 40%;
    display: block;
}

.left_text img {
    width: 30%;
    display: block;
}

.left_background img {
    object-fit: cover;
    height: 100vh;
    width: 90%;
    display: block;
}

.form {
    padding-top: 5%;
    margin-left: -5%;
    padding-right: 5%;
    grid-area: form;
}

.welcome_texts {
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;

}

form {
    display: grid;
    gap: 15%;
}

.number,
.dropdown,
.comment {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.radio,
.name_surname {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.number,
.dropdown,
.comment,
.radio,
.name_surname {
    padding: 1.5% 0% 1.5% 0%;
    border: solid 0.01mm #007A60;

}

input,
button {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

select {

    font-family: 'Courier New', Courier, monospace;

}

input:hover,
.select:hover {
    background-color: #b0fbeb;

}

.radio label:hover {
    background: none !important;
}


input[type="radio"]:checked {
    accent-color: #025f4a !important;
}


.big_text {
    font-size: larger;
    font-weight: bold;
    color: #007A60;
}

.middle_text {
    font-size: large;
    font-weight: bold;
}

.small_text {
    font-size: normal;
}

button {
    background-color: #b0fbeb;
    color: #007A60;
    font: xx-large bold;
    margin-top: 6%;
    border: solid 0.01mm #007A60;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: buttonimp;
}

@keyframes buttonimp {
    0% {
        transform: scale(1.1);
        /* Starting size (100%) */
    }

    100% {
        transform: scale(1);
        /* Ending size (50% - zoomed out) */
    }
}

@media (min-width: 100px) and (max-width: 1024px) {

    .left {
        display: none;
    }

    body {
        background-image: url(https://ardi.ge/assets/frontend/assets/img/login_bg.jpg);
        background-size: 100%;
    }

    .total {
        background-position: 100%;
        display: flex;
        justify-content: center;
        padding-left: 15%;
    }

    .number,
    .dropdown,
    .comment,
    .radio,
    .name_surname {
        display: grid;
        grid-template-columns: 1fr;
        color: white;
        width: 90%;
    }


    .number,
    .dropdown,
    .comment,
    .select,
    .name_surname :nth-of-type(1) {
        font-weight: bold;
    }


    .middle_text {
        font-size: large;
        font-weight: bold;
        color: white;
    }

    .small_text {
        font-size: normal;
        color: white;
    }

    select option:selected {
        color: white !important;
        background: #007A60 !important;
    }

    .radio label:hover,
    input:hover,
    .select:hover {
        background: none !important;
    }

}